.row
  .col-xs-12.col-xs-offset-0.col-md-8.col-md-offset-2
    = form_for [@unit, @student] do |f|
      - if @student.errors.any?
        #error_explanation
          h2 = "#{pluralize(@student.errors.count, "error")} prohibited this student from being saved:"
          ul
            - @student.errors.full_messages.each do |message|
              li = message

      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
      .row
        .col-xs-12.col-md-6
          .form-group
            = f.label :registration
            = f.text_field :registration, class: "form-control"
        .col-xs-12.col-md-6
          .form-group
            = f.label :birthday
            = f.text_field :birthday, class: "form-control"
      .form-group
        = f.label :courses
        br
        = f.collection_check_boxes(:course_ids, @unit.courses, :id, :name) do |b|
          = b.check_box
          = b.label
      = f.fields_for :legal_guardians do |lg|
        = render 'legal_guardian_fields', f: lg
      .links
        = link_to_add_association 'Add', f, :legal_guardians

      .actions = f.submit nil, class: "btn flat-btn"
