.nested-fields
  .row
    .col-xs-5.col-md-4
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
    .col-xs-5.col-md-4
      .form-group
        = f.label :email
        = f.text_field :email, class: "form-control"
    .col-xs-12.col-md-3.hidden-xs
      .form-group
        = f.label :phone
        = f.text_field :phone, class: "form-control"
    .col-xs-1.col-md-1
      .padding-right[style="padding-top: 28px"]
        = link_to_remove_association f, class: "btn btn-danger" do
          i.glyphicon.glyphicon-remove