- content_for :title do
  = "Estudantes"
.row
  .col-sm-12.col-md-12
    .text-center.btn-group-sm
      = link_to 'Novo estudante', new_unit_student_path(@unit)
      '   |
      = link_to 'Voltar', units_path

.row
  - @students.each do |student|
    .col-sm-6
      .panel
        .panel-body.p-t-10
          .media-main
            a.pull-left[href="#"]
              img.thumb-lg.img-circle.bx-s[src="http://bootdey.com/img/Content/user_1.jpg" alt=""]
            .pull-right.btn-group-sm
              = link_to(edit_unit_student_path(student.unit, student), class: "btn btn-success") do 
                i.glyphicon.glyphicon-pencil
              = link_to(unit_student_path(student.unit, student), class: "btn btn-danger", data: { confirm: 'Are you sure?' }, method: :delete) do
                i.glyphicon.glyphicon-remove
            .info
              h4 = student.name
              p.text-muted = student.birthday
.row
  = paginate @students