p#notice = notice

p
  strong Name:
  = @student.name
p
  strong Registration:
  = @student.registration
p
  strong Birthday:
  = @student.birthday

= link_to 'Edit', edit_unit_student_path(@unit, @student)
'|
= link_to 'Back', unit_students_path(@unit)
