- content_for :title
  = "Dashboard"
.row
.col-xs-12.col-xs-offset-0.col-md-8.col-md-offset-2
  table.table.table-bordered.table-striped
    thead
      tr
        th Unidades
        th Cursos
        th Professores
        th Estudantes
        th Responsáveis

    tbody
      - @units.each do |unit|
        tr
          td = unit.name
          td = unit.courses_count
          td = unit.teachers_count
          td = unit.students_count
          td = unit.students.sum(:legal_guardians_count)
