.row
  .col-xs-12.col-xs-offset-0.col-md-6.col-md-offset-3
    = form_for [@unit, @teacher] do |f|
      - if @teacher.errors.any?
        #error_explanation
          h2 = "#{pluralize(@teacher.errors.count, "error")} prohibited this teacher from being saved:"
          ul
            - @teacher.errors.full_messages.each do |message|
              li = message

      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
      .row
        .col-xs-12.col-md-6
          .form-group
            = f.label :email
            = f.text_field :email, class: "form-control"
        .col-xs-12.col-md-6
          .form-group
            = f.label :phone
            = f.text_field :phone, class: "form-control"
      .actions = f.submit nil, class: "btn flat-btn"
