- content_for :title do
  = "Professores"
.row
  .col-sm-12.col-md-12
    .text-center.btn-group-sm
      = link_to 'Novo professor', new_unit_teacher_path(@unit)
      '   |
      = link_to 'Voltar', units_path

.row
  - @teachers.each do |teacher|
    .col-sm-6
      .panel.hvr-grow
        .panel-body.p-t-10
          .media-main
            a.pull-left[href="#"]
              img.thumb-lg.img-circle.bx-s[src="#{teacher.avatar}" alt=""]
            .pull-right.btn-group-sm
              = link_to(edit_unit_teacher_path(teacher.unit, teacher), class: "btn btn-success") do 
                i.glyphicon.glyphicon-pencil
              = link_to(unit_teacher_path(teacher.unit, teacher), class: "btn btn-danger", data: { confirm: 'Are you sure?' }, method: :delete) do
                i.glyphicon.glyphicon-remove
            .info
              h4 = teacher.name
              p.text-muted = teacher.phone
              p.text-muted = teacher.email
= paginate @teachers