p
  strong Name:
  = @teacher.name
p
  strong Email:
  = @teacher.email
p
  strong Phone:
  = @teacher.phone
p
  strong Unit:
  = @teacher.unit.name

= link_to 'Edit', edit_unit_teacher_path(@unit, @teacher)
'|
= link_to 'Back', teachers_path
