.container
  .section
    #pwd-container.row
      .col-md-offset-3.col-md-6
        .login-form
          = form_for(resource, as: resource_name, url: session_path(resource_name), html: {role: "login"}) do |f|
            div.logo
              h1.text-center.colored
                | Smart
                span.text-center.uncolored 
                  | School
            = f.email_field :email, autofocus: true, class: "form-control input-lg", placeholder: "Email"
            = f.password_field :password, autocomplete: "off", class: "form-control input-lg", placeholder: "Senha"
            = f.submit "Entrar", class: "btn btn-lg flat-btn btn-block"
            div
              = render "devise/shared/links"
          .form-links
            


