- content_for :title do
  = "Escola"
.row
  .col-xs-12.col-xs-offset-0.col-md-8.col-md-offset-2
    = form_for(@school, url: school_path) do |f|
      - if @school.errors.any?
        #error_explanation
          h2
            = pluralize(@school.errors.count, "error")
            |  prohibited this @school from being saved:
          ul
            - @school.errors.full_messages.each do |message|
              li
                = message
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
      .row
        .col-xs-12.col-md-7
          .form-group
            = f.label :email
            = f.text_field :email, class: "form-control"
        .col-xs-12.col-md-5
          .form-group
            = f.label :phone
            = f.text_field :phone, class: "form-control"
      .actions
        = f.submit nil, class: "btn flat-btn"