.row
  .col-xs-12.col-xs-offset-0.col-md-8.col-md-offset-2
    = form_for [@unit, @course] do |f|
      - if @course.errors.any?
        #error_explanation
          h2 = "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
          ul
            - @course.errors.full_messages.each do |message|
              li = message

      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
      .form-group
        = f.label :teacher
        = f.collection_select(:teacher_id, @unit.teachers, :id, :name, {prompt: true}, {class: "form-control"})
      .form-group
        = f.label :description
        = f.text_area :description, class: "form-control"
      .actions = f.submit nil, class: "btn flat-btn"
