- content_for :title do
  = "Cursos"
.row
  .col-sm-12.col-md-12
    .text-center.btn-group-sm
      = link_to 'Novo curso', new_unit_course_path(@unit)
      '   |
      = link_to 'Voltar', units_path

.row
  .col-sm-12.col-md-offset-2.col-md-8
    table.table.table-striped.table-bordered.table-condensed
      thead
        tr
          th Name
          th Teacher
          th[colspan="3"]

      tbody
        - @courses.each do |course|
          tr
            td = course.name
            td = course.teacher.name
            td.text-center 
              = link_to unit_course_path(course.unit, course) do
                i.glyphicon.glyphicon-eye-open.show
            td.text-center 
              = link_to edit_unit_course_path(course.unit, course) do
                i.glyphicon.glyphicon-pencil.edit
            td.text-center 
              = link_to unit_course_path(course.unit, course), data: { confirm: 'Are you sure?' }, method: :delete do
                i.glyphicon.glyphicon-remove.remove