
p
  strong Name:
  = @course.name
p
  strong Description:
  = @course.description
p
  strong Teacher:
  = @course.teacher.name

= link_to 'Editar', edit_unit_course_path(@unit, @course)
'   |
= link_to 'Voltar', unit_courses_path(@unit)
