.row
  .col-xs-12.col-xs-offset-0.col-md-6.col-md-offset-3
    = form_for @unit do |f|
      - if @unit.errors.any?
        #error_explanation
          h2 = "#{pluralize(@unit.errors.count, "error")} prohibited this unit from being saved:"
          ul
            - @unit.errors.full_messages.each do |message|
              li = message
      
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
      .row
        .col-xs-12.col-md-4
          .form-group
            = f.label :phone
            = f.text_field :phone, class: "form-control"
        .col-xs-12.col-md-8
          .form-group
            = f.label :email
            = f.text_field :email, class: "form-control"
      .form-group
        = f.label :address
        = f.text_field :address, class: "form-control"
      .actions = f.submit nil, class: "btn flat-btn"
