- content_for :title do
  = "Unidades"
.row
  .col-sm-12.col-md-12
    .text-center.btn-group-sm
      = link_to 'Nova unidade', new_unit_path, id: "new_unit_link"

.row
  - @units.each do |unit|
    .col-sm-6
      .panel
        .panel-body.p-t-10
          .media-main
            .pull-right.btn-group-sm
              = link_to(edit_unit_path(unit), class: "btn btn-success") do 
                i.glyphicon.glyphicon-pencil
              = link_to(unit, class: "btn btn-danger", data: { confirm: 'Are you sure?' }, method: :delete) do
                i.glyphicon.glyphicon-remove
            .info
              h4.upcase = unit.name
              p.text-muted = unit.phone
              p.text-muted = unit.email
              p.text-muted = unit.address
          .clearfix
          hr
          .contact-footer.bottom-action.text-center
            .row
              .col-md-4.border
                = link_to 'Estudantes', unit_students_path(unit)
              .col-md-4.border
                = link_to 'Professores', unit_teachers_path(unit)
              .col-md-4.border
                = link_to 'Cursos', unit_courses_path(unit)