@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

body {
  background-color: #f4f4f4;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding-top: 50px;
  line-height: 1.55;
}
.sub-nav {
  background-color: #FFFFFF;
  height: 80px;
  border-radius: 0px; 
  border-bottom: 1px solid #cdcdcd !important;
}
.flat-btn {
  color: #ef5285;
  background-color: transparent;
  border-color: #ef5285;
}

.flat-btn:hover {
  color: #FFFFFF;
  background-color: #ef5285;
}

.navbar-header .navbar-brand {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
}

.navbar-header .navbar-brand span {
	color: #ef5285;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ef5285;
  background-color: transparent;
}

.navbar {
	border: 0;
}

.navbar input {
	border: 0;
	background: #444;
	color: #fff;
}

.navbar input:focus {
	color: #fff;
	background: #555;
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.navbar-inverse .navbar-nav > .active > a {
  color: #ef5285;
  font-weight: 700;
}      

.btn, .btn-group-sm .btn {
  border-radius: 0px;
}              

.btn-group-sm .btn {
  margin-left: 4px;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label::before {
    margin-right: 10px;
}
input[type="checkbox"] + label::before {
    content: url('https://cdn4.iconfinder.com/data/icons/social-productivity-line-art-4/128/checkbox-square-unchecked-16.png');
}
input[type="checkbox"]:checked + label::before {
    content: url('https://cdn4.iconfinder.com/data/icons/social-productivity-line-art-4/128/checkbox-square-checked-16.png');
}

.upcase {
  text-transform: uppercase;
}

.title-page {
    text-transform: uppercase;
    position: relative;
    line-height: 10px;
    font-weight: 800;
}

a {
   color: #9d9d9d;
}

a:hover, a:focus {
   text-decoration: none;
   color: #ef5285;
}

@media (max-width: 767px) {
  .padding-right {
    padding-right: 20px !important;
  }
}


.show {
  color: #5cb85c;
}

.edit {
  color: #5bc0de;
}

.remove {
  color: #d9534f;
}

/* LOGIN */


.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;

  &:focus {
    z-index: 2;
  }
}

.login-form {
  margin-top: 60px;
}

form[role=login] {
  color: #5d5d5d;
  background: #f2f2f2;
  padding: 26px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
form[role=login] img {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}
form[role=login] input,
form[role=login] button {
  font-size: 18px;
  margin: 16px 0;
  border-radius: 0px;
}
form[role=login] > div {
  text-align: center;
}
  
.form-links {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 50px;
}

form[role=login] .logo {
  text-transform: uppercase;
}

form[role=login] .colored {
  color: #ef5285;
}

form[role=login] .uncolored {
  color: #777;
}

form[role=login] .logo > h1 {
  position: relative;
}

a:hover {
  text-transform: uppercase;
  font-weight: bold;
}