nav.navbar.navbar-inverse.navbar-fixed-top[role="navigation"]
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed[type="button" data-toggle="collapse" data-target="#menu"]
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand[href="#"]
        span Smart
        | School
    div[class="collapse navbar-collapse" id="menu"]
      ul.nav.navbar-nav
        li = link_to 'Home', root_path
        li = link_to 'Unidades', units_path, id: "units_link"
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle[href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"]
            i.glyphicon.glyphicon-cog
          ul.dropdown-menu
            li
              = link_to('Escola', school_path) if user_signed_in?
            li.divider[role="separator"]
            li
              = link_to('Sair', destroy_user_session_path, method: :delete)
nav.navbar.sub-nav[role="navigation"]
  .container-fluid
    h1
      = yield :title