doctype html
html
  head
    title Smart School
    = csrf_meta_tags
    meta[name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"]
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    == render "layouts/header"
    .container
      = notice
      = yield                                                                                                                                                                    
